# Environment variables
.env
.env.local

# Hugging Face Cache
hf_cache/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/.venv/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/node_modules/
frontend/dist/

# OS specific
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
